@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');

body {
    background-color: mintcream;
}

.underline {
    text-decoration: underline;
}

/* -- Navbar -- */

nav {
    font-family: "Source Code Pro", sans-serif;
}

nav .brand-logo {
    padding-left: 40px;
}

ul:not(.browser-default) {
    padding-right: 40px;
}

/* -- Flashes -- */

.flashes h4 {
    line-height: 2;
    color: #ffffff;
    font-family: "Source Code Pro", sans-serif;
}

/* -- Add Book -- */

.dropdown-content li>a, .dropdown-content li>span {
    color: #327e29;
}