/* ---------- General Page Styling ---------- */

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');

body {
    background-color: mintcream;
}

.underline {
    text-decoration: underline;
}

.row {
    margin-bottom: 10px;
}

/* ---------- Navbar ---------- */

nav {
    font-family: "Source Code Pro", sans-serif;
}

nav .brand-logo {
    padding-left: 40px;
}

ul:not(.browser-default) {
    padding-right: 40px;
}


/* Page Styling */

/* ---------- Add Book Page ---------- */

.dropdown-content li>a, .dropdown-content li>span {
    color: #00c853;
}


/* Element Styling */

/* ---------- Buttons ------------ */

.btn-large {
    margin-right: 5px;
    margin-left: 5px;
}

.btn-floating {
    background-color: red;
    margin-right: 10px;
}

/* ---------- Cards ---------- */

.card-panel {
    padding: 10px;
    margin: 0;
}

.card {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* help from fellow student Gaff Alumnus */
.card-image.waves-effect.waves-block.waves-light {
    min-height: 25rem;
    max-height: 25rem;
}

.card .card-image img {
    width: 70%;
    margin: auto;
}

/* ---------- Flashes ------------ */

.flashes h4 {
    line-height: 2;
    color: #ffffff;
    font-family: "Source Code Pro", sans-serif;
}

/* ---------- Icon Styling ---------- */

i.fa-times-circle {
    color: #ffffff;
}

i.fa-times {
    color: red;
}

i.fa-arrow-up {
    color: #00e676;
}

/* ---------- Hover ---------- */

nav .brand-logo:hover {
    text-decoration: underline;
}

nav ul a:hover {
    text-decoration: underline;
}

.hover-under:hover {
    text-decoration: underline;
}

.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: #388e3c;
}

.btn-floating:hover {
    background-color: #d50000;
}