{% extends "base.html" %}

{% block content %}

    <h3 class="green-text accent-4 center-align underline">Add Book Review</h3>

    <!-- Add Book Review Card -->
    <div class="row card-panel">
        <form class="col s12" method="POST" action="{{ url_for('add_book') }}">
            <!-- Book Title -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-book green-text accent-4 prefix"></i>
                    <input id="book_title" name="book_title" minlength="2" maxlength="50" 
                        type="text" class="validate" required>
                    <label for="book_title">Book Title</label>
                </div>
            </div>
            <!-- Book Author -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt green-text accent-4 prefix"></i>
                    <input id="author" name="author" minlength="2" maxlength="50" 
                        type="text" class="validate" required>
                    <label for="author">Author</label>
                </div>
            </div>
            <!-- Genre Selection -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-book-reader green-text accent-4 prefix"></i>
                    <select id="genre_type" name="genre_type" class="validate" required>
                        <option value="" disabled selected>Genre</option>
                        {% for category in categories %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
                    <label for="genre_type">Genre</label>
                </div>
            </div>
            <!-- Release Year -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-calendar-alt green-text accent-4 prefix"></i>
                    <input id="release_year" name="release_year" minlength="4" maxlength="4" 
                        type="text" class="validate" required>
                    <label for="release_year">Release Year</label>
                </div>
            </div>
            <!-- Book Image Url -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-image prefix green-text accent-4"></i>
                    <input id="image_url" name="image_url" type="url" class="validate">
                    <label for="image_url">Book Image URL (Optional)</label>
                </div>
            </div>
            <!-- Star Rating Selection -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-star green-text accent-4 prefix"></i>
                    <input id="rating" name="rating" type="number" min="1" max="5" class="validate" required>
                    <label for="rating">Star Rating (Out of 5)</label>
                </div>
            </div>
            <br>
            <!-- Review Section -->
            <div class="row">
                <h5>Leave A Review</h5>
                <div class="input-field col s12">
                    <textarea id="book_review" name="book_review" class="materialize-textarea validate" data-length="120" required></textarea>
                    <label for="book_review">Review</label>
                </div>
            </div>
            <!-- Submit Button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large grn-btn green accent-4 text-shadow waves-effect waves-light">
                        Add Book <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}