{% extends "base.html" %}

{% block content %}

    <h3 class="green-text accent-4 center-align underline">Add Genre</h3>

    <div class="row card-panel">
        <form class="col s12" method="POST" action="{{ url_for('add_genre') }}">
            <!-- Genre/Category Name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-book green-text accent-4 prefix"></i>
                    <input id="category_name" name="category_name" minlength="2" maxlength="50" 
                        type="text" class="validate" required>
                    <label for="category_name">Genre</label>
                </div>
            </div>
            <!-- cancel/Submit Buttons -->
            <div class="row">
                <div class="col s12 center-align">
                    <a href="{{ url_for('manage_genres') }}" class="btn-floating"><i class="fas fa-times-circle"></i></a>
                    <button type="submit" class="btn-large grn-btn green accent-4 text-shadow">
                        Add Genre <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}