{% extends "base.html" %}

{% block content %}

    <h3 class="green-text center-align underline">Edit Genre</h3>

    <!-- Edit Genre Card -->
    <div class="row card-panel">
        <form class="col s12" method="POST" action="{{ url_for('edit_genre', category_id=category._id) }}">
            <!-- Genre/Category Name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-book green-text prefix"></i>
                    <input id="category_name" name="category_name" minlength="2" maxlength="50" 
                        type="text" value="{{ category.category_name }}" class="validate" required>
                    <label for="category_name">Genre</label>
                </div>
            </div>
            <!-- Cancel and Edit Buttons -->
            <div class="row">
                <div class="col s12 center-align">
                    <a href="{{ url_for('manage_genres') }}" class="btn-large red darken-2 text-shadow waves-effect waves-light">
                        Cancel <i class="fas fa-times-circle right"></i>
                    </a>
                    <button type="submit" class="btn-large green accent-4 text-shadow waves-effect waves-light">
                        Edit Genre <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}