{% extends "base.html" %}

{% block content %}

    <h3 class="green-text accent-4 center-align underline">Edit Book Review</h3>

    <!-- Edit Book Review Card -->
    <div class="row card-panel">
        <form class="col s12" method="POST" action="{{ url_for('edit_book', book_id=book._id) }}">
            <!-- Book Title -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-book green-text accent-4 prefix"></i>
                    <input id="book_title" name="book_title" minlength="2" maxlength="50" 
                        value="{{ book.book_title }}" type="text" class="validate" required>
                    <label for="book_title">Book Title</label>
                </div>
            </div>
            <!-- Book Author -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt green-text accent-4 prefix"></i>
                    <input id="author" name="author" minlength="2" maxlength="50" 
                    value="{{ book.author }}" type="text" class="validate" required>
                    <label for="author">Author</label>
                </div>
            </div>
            <!-- Genre Selection -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-book-reader green-text accent-4 prefix"></i>
                    <select id="genre_type" name="genre_type" class="validate" required>
                        <option value="" disabled>Genre</option>
                        {% for category in categories %}
                            {% if category.category_name == book.category_name %}
                                <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                            {% else %}
                                <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                            {% endif %}    
                        {% endfor %}
                    </select>
                    <label for="genre_type">Genre</label>
                </div>
            </div>
            <!-- Release Year -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-calendar-alt green-text accent-4 prefix"></i>
                    <input id="release_year" name="release_year" minlength="4" maxlength="4" 
                    value="{{ book.release_year }}" type="number" class="validate" required>
                    <label for="release_year">Release Year</label>
                </div>
            </div>
            <!-- Book Image Url -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-image prefix green-text accent-4"></i>
                    <input id="image_url" name="image_url" type="text" class="validate" 
                        value="{{ book.image_url }}" required>
                    <label for="image_url">Book Image URL</label>
                </div>
            </div>
            <!-- Star Rating Selection -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-star green-text accent-4 prefix"></i>
                    <input id="rating" name="rating" value="{{ book.rating }}" type="number" min="1" max="5" class="validate" required>
                    <label for="rating">Star Rating (Out of 5)</label>
                </div>
            </div>
            <br>
            <!-- Review Section -->
            <div class="row">
                <h5>Leave A Review (Optional)</h5>
                <div class="input-field col s12">
                    <textarea id="book_review" name="book_review" class="materialize-textarea" data-length="120">
                        {{- book.book_review -}}
                    </textarea>
                    <label for="book_review">Review</label>
                </div>
            </div>
            <!-- Edit purchase link, available for admin to amend incase of error/other issues -->
            {% if session.user|lower == "admin"|lower %}
            <div class="row">
                <h5>Purchase Link</h5>
                <div class="input-field col s12">
                    <input id="purchase_link" name="purchase_link" type="text" class="validate" 
                        value="{{ book.purchase_link }}">
                    <label for="purchase_link">Purchase Link</label>
                </div>
            </div>
            {% endif %}
            <!-- Cancel and Edit Buttons -->
            <div class="row">
                <div class="col s12 center-align">
                    <a href="{{ url_for('books') }}" class="btn-large red darken-2 text-shadow waves-effect waves-light">
                        Cancel <i class="fas fa-times-circle right"></i>
                    </a>
                    <button type="submit" class="btn-large green accent-4 text-shadow waves-effect waves-light">
                        Edit Book <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}