{% extends "base.html" %}

{% block content %}

    <h3 class="green-text accent-4 center-align underline">Manage Genres</h3>

    <!-- Button to Add Genre -->
    <div class="row">
        <div class="col s12 center-align">
            <a href="{{ url_for('add_genre') }}" class="btn-large green accent-4 grn-btn">
                Add Genre <i class="fas fa-plus-square right"></i>
            </a>
        </div>
    </div>

    <!-- Display Catagories(genres) from db -->
    <div class="row">
        {% for category in categories %}
            <div class="col s12 m6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">{{ category.category_name }}</span>
                    </div>
                    <div class="card-action">
                        <a href="{{ url_for('delete_genre', category_id=category._id) }}" class="btn-floating"><i class="fas fa-times-circle"></i></a>
                        <a href="{{ url_for('edit_genre', category_id=category._id) }}" class="btn-small grn-btn green accent-4">Edit</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}