{% extends "base.html" %}

{% block home_page %}

    <!-- Parallax Image -->
    <div class="parallax-container">
        <div class="parallax">
            <img src="https://images.pexels.com/photos/1319854/pexels-photo-1319854.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Books on library shelves">
        </div>
    </div>

    {% if session.user %}
    <h3 class="green-text center-align underline">Welcome back to Read-It</h3>
    {% else %}
    <h3 class="green-text center-align underline">Welcome to Read-It</h3>
    {% endif %}

    <!-- Page Text -->
    <div class="row container">
        <div class="col s12">
            {% if session.user %}
            <h6>
                Welcome back to Read-It! The site where you can share reviews of your favourite books
                with other avid readers. On our site, you can read reviews created by people who have
                read them independently; no paid reviews will ever be on our site.
                <br> <br>
                Check out existing book reviews <a href="{{ url_for('books') }}">here,</a> and why not
                add your own by clicking <a href="{{ url_for('add_book') }}">here?</a>
            </h6>
            {% else %}
            <h6>
                Welcome to Read-It! The site where you can share reviews of your favourite books
                with other avid readers. On our site, you can read reviews created by people who have
                read them independently; no paid reviews will ever be on our site.
                <br> <br>
                Feel free to take a look around, and if you like what you see, why not register and share your
                own reviews? 
                <br> <br>
                <a href="{{ url_for('register') }}" class="underline">Register</a> here!
                Already a member? <a href="{{ url_for('login') }}" class="underline">Log In</a> here!
                <br> <br>
                Once you're logged in, why not leave a review and share your thoughts with the world!
            </h6>
            {% endif %}
        </div>
    </div>

    <!-- Bottom Parallax Image -->
    <div class="parallax-container parallax-lower">
        <div class="parallax">
            <img src="https://images.unsplash.com/photo-1485322551133-3a4c27a9d925?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="Books on library shelves">
        </div>
    </div>
    
{% endblock %}