{% extends "base.html" %}

{% block home_page %}

    <!-- Parallax Image -->
    <div class="parallax-container">
        <div class="parallax">
            <img src="https://images.pexels.com/photos/1319854/pexels-photo-1319854.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Books on library shelves">
        </div>
    </div>

    <h3 class="green-text center-align">Welcome to Read-It</h3>

    <!-- Page Text and Image -->
    <div class="row container">
        <!-- Page Text -->
        <div class="col s6">
            <p>
                Welcome to read-it, the site where you can review your favourite books, bookmark them in your profile 
                and add comments to existing reviews.
            </p>
        </div>
        <!-- Page Image -->
        <div class="col s6">
            <img class="hp-img" src="https://images.pexels.com/photos/590493/pexels-photo-590493.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Dark library">
        </div>
    </div>
    
{% endblock %}