{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card">
                <h3 class="center-align green-text accent-4" style="padding: 10px;">
                    {{ username }}'s Profile
                </h3>
            </div>
        </div>
    </div>

    <blockquote>
        <h5>My Reviews:</h5>
    </blockquote>

    {% if books|length > 0 %}
        <div class="row">
            {% for book in books %}
                <div class="col s12 m6 l4">
                    <div class="card hoverable">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{{ book.image_url }}" alt="Book Cover Image">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator black-text">
                                <p>Book Info & Review<i class="fas fa-arrow-up right"></i></p>
                            </span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title black-text underline">
                                {{ book.book_title }} by {{ book.author }}<i class="fas fa-times right"></i>
                            </span>
                            <p>Genre: {{ book.genre }}</p>
                            <p>Release Year: {{ book.release_year }}</p>
                            <p>Rating: {{ book.rating }} <i class="fas fa-star"></i> </p>
                            <p>Review: {{ book.book_review }}</p>
                            <p>Created by: {{ book.created_by }} </p>
                            <!-- Delete and Edit buttons, accessible by created_by user and admin  -->
                            {% if session.user|lower == book.created_by|lower or session.user|lower == "admin"|lower %}
                                <a href="{{ url_for('delete_book', book_id=book._id) }}" class="btn-floating tooltipped delete-btn" data-position="bottom" data-tooltip="Delete">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                                <a href="{{ url_for('edit_book', book_id=book._id) }}" class="btn-floating tooltipped edit-btn" data-position="bottom" data-tooltip="Edit">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a href="#" class="btn-floating tooltipped like-btn" data-position="bottom" data-tooltip="Bookmark">
                                    <i class="fas fa-bookmark"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h3 class="red-text center-align">No Search Results Found</h3>
    {% endif %}

    <blockquote>
        <h5>Books Bookmarked:</h5>
    </blockquote>

    <blockquote>
        <h5>Book Comments:</h5>
    </blockquote>

    <blockquote>
        <h5>Why not review another book?</h5>
    </blockquote>

    <div class="row">
        <div class="col s12 m6 l4">
            <div class="card green accent-4 hoverable">
                <div class="card-image">
                    <a href="{{ url_for('add_book') }}">
                        <img src="https://images.pexels.com/photos/2908773/pexels-photo-2908773.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                    </a>
                </div>
                <div class="card-action center-align white">
                    <a href="{{ url_for('add_book') }}" class="black-text review-link">
                        Leave A Review
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}