{% extends "base.html" %}

{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card">
                <h3 class="center-align green-text" style="padding: 10px;">
                    {{ username.capitalize() }}'s Profile
                </h3>
            </div>
        </div>
    </div>

    <!-- My Reviews Section -->
    <blockquote>
        <h5>My Reviews:</h5>
    </blockquote>

    <!-- Display Books from db -->
    {% if books|length > 0 %}
        <div class="row">
            {% for book in books %}
                <div class="col s12 m6 l4">
                    <div class="card hoverable">
                        <!-- Book Image -->
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{{ book.image_url }}" alt="Book Cover Image">
                        </div>
                        <!-- Card Title and Activator -->
                        <div class="card-content">
                            <span class="card-title activator black-text">
                                Book Info & Review<i class="fas fa-arrow-up right"></i>
                            </span>
                        </div>
                        <!-- Card Reveal Information -->
                        <div class="card-reveal">
                            <span class="card-title black-text underline">
                                {{ book.book_title }} by {{ book.author }}<i class="fas fa-times right"></i>
                            </span>
                            <p>Genre: {{ book.genre }}</p>
                            <p>Release Year: {{ book.release_year }}</p>
                            <p>Rating: {{ book.rating }} <i class="fas fa-star"></i> </p>
                            <p>Review: {{ book.book_review }}</p>
                            <p>Created by: {{ book.created_by }} </p>
                            <!-- Delete and Edit buttons, accessible by created_by user and admin  -->
                            {% if session.user|lower == book.created_by|lower or session.user|lower == "admin"|lower %}
                                <a href="#{{ book._id }}" class="btn-floating tooltipped delete-btn modal-trigger" data-position="bottom" data-tooltip="Delete">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                                <a href="{{ url_for('edit_book', book_id=book._id) }}" class="btn-floating tooltipped edit-btn" data-position="bottom" data-tooltip="Edit">
                                    <i class="fas fa-edit"></i>
                                </a>
                            {% endif %}
                            <a href="{{ url_for('bookmarked_book', book_id=book._id) }}" class="btn-floating tooltipped like-btn" data-position="bottom" data-tooltip="Bookmark">
                                <i class="fas fa-bookmark"></i>
                            </a>
                            <!-- Purchase Link Button, only showing when link is in db -->
                            {% if book.purchase_link != null %}
                                <a href="{{ book.purchase_link }}" target="_blank" class="btn-floating tooltipped purchase-btn" data-position="bottom" data-tooltip="Purchase Link">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- Modal for Review deletion -->
                    <div id="{{ book._id }}" class="modal">
                        <div class="modal-content">
                            <h6>Are you sure you want to delete this book review?</h6>
                        </div>
                        <div class="modal-footer">
                            <a href="{{ url_for('delete_book', book_id=book._id) }}" class="waves-effect waves-green btn-flat">Yes</a>
                            <a href="{{ url_for('books') }}" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                        </div>
                    </div>
            {% endfor %}
        </div>
        {% else %}
            <!-- Text To Display If No Reviews Found -->
            <h6>You haven't reviewed any books yet! Add your first review <a href="{{ url_for('add_book') }}">here!</a></h6>
    {% endif %}

    <!-- Bookmarked Books Section -->
    <blockquote>
        <h5>Bookmarked Books:</h5>
    </blockquote>
    {% if favourites|length > 0 %}
        <div class="row">
            {% for fave in favourites %}
                <div class="col s12 m6 l4">
                    <div class="card hoverable">
                        <!-- Book Image -->
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{{ fave.image_url }}" alt="Book Cover Image">
                        </div>
                        <!-- Card Title and Activator -->
                        <div class="card-content">
                            <span class="card-title activator black-text">
                                Book Info & Review<i class="fas fa-arrow-up right"></i>
                            </span>
                        </div>
                        <!-- Card Reveal Information -->
                        <div class="card-reveal">
                            <span class="card-title black-text underline">
                                {{ fave.book_title }} by {{ fave.author }}<i class="fas fa-times right"></i>
                            </span>
                            <p>Genre: {{ fave.genre }}</p>
                            <p>Release Year: {{ fave.release_year }}</p>
                            <p>Rating: {{ fave.rating }} <i class="fas fa-star"></i> </p>
                            <p>Review: {{ fave.book_review }}</p>
                            <p>Created by: {{ fave.created_by }} </p>
                            <!-- Purchase Link Button, only showing when link is in db -->
                            {% if fave.purchase_link != null %}
                                <a href="{{ fave.purchase_link }}" target="_blank" class="btn-floating tooltipped purchase-btn" data-position="bottom" data-tooltip="Purchase Link">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="center-align">
                        <a href="{{ url_for('remove_bookmark', book_id=fave._id) }}" class="waves-effect waves-light btn green accent-4 text-shadow">
                            <i class="fas fa-minus-circle"></i> Remove Bookmark
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% else %}
            <!-- Text To Display If No Reviews Found -->
            <h6>You haven't bookmarked any books yet. Why not take a look <a href="{{ url_for('books') }}">here</a> and bookmark the ones you're interested in!</h6>
    {% endif %}

    <!-- Add Review Section -->
    <blockquote>
        <h5>Why not review another book?</h5>
    </blockquote>

    <!-- Add Review Card -->
    <div class="row">
        <div class="col s12 m6 l4">
            <div class="card green accent-4 hoverable">
                <!-- Card Image -->
                <div class="card-image">
                    <a href="{{ url_for('add_book') }}">
                        <img src="https://images.pexels.com/photos/2908773/pexels-photo-2908773.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Open book with reading glasses">
                    </a>
                </div>
                <!-- Card Title -->
                <div class="card-action center-align white">
                    <a href="{{ url_for('add_book') }}" class="black-text review-link">
                        Leave A Review
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}